<ul>
  <li *ngFor="let item of customersRef">
    {{ item }}
  </li>
</ul>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-9">
      <tabset>
        <tab heading="{{group.name}}" *ngFor="let group of groups">
          <div class="row">
            <div *ngFor="let prod of products">
              <div class="float-left" *ngIf="group.name == prod.payload.val().group && prod.payload.val().stock > 0" (click)="selectProduct(prod.key)">
                <div class="card">
                  <div class="body">
                    <img style="width: 128px;height: 128px;" src="{{prod.payload.val().photo}}" class="rounded float-left" alt="...">
                  </div>
                  <div class="footer" style="text-align: center;">
                    {{ prod.payload.val().name }}
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <i class="cil-cash"></i> Satılacaklar
        </div>
        <div class="card-body">
          <div class="row" id="printTable">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Ürün adı</th>
                  <th>Adet</th>
                  <th>Fiyat</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of selectedProd">
                  <td>{{item.name}}</td>
                  <td>{{item.count}}</td>
                  <td>{{item.price}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-6">
              <label>Toplam tutar: </label>
            </div>
            <div class="col-6">
              <label>{{totalPrice}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label>Alınan para: </label>
            </div>
            <div class="col-6">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">₺</span>
                </div>
                <input id="appendedPrependedInput" class="form-control" size="16" type="number" placeholder="0" name="alinanPara" [(ngModel)]="alinanPara">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label>Para üstü: </label>
            </div>
            <div class="col-6">
              <label *ngIf="alinanPara-this.totalPrice<0">Eksik para verildi.</label>
              <label *ngIf="alinanPara-this.totalPrice>0">{{alinanPara-totalPrice}}₺</label>
              <label *ngIf="alinanPara-this.totalPrice==0">Ödendi</label>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <button (click)="sell()" type="button" class="btn btn-success btn-square btn-block" [disabled]="this.totalPrice==0">SAT</button>
            </div>
            <div class="col-6">
              <button (click)="cancel()" type="button" class="btn btn-danger btn-square btn-block">VAZGEÇ</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>