<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="icon-drop"></i> Ürün Ekle / Düzenle / Sil
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <strong>Ürün ekle</strong> 
            </div>
            <div class="card-body">
              <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Ürün adı</label>
                  <div class="col-md-9">
                    <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                    <span class="help-block"></span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-md-3" for="appendedPrependedInput">Ürün fiyatı</label>
                  <div class="controls col-md-9">
                    <div class="input-prepend input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">₺</span>
                      </div>
                      <input id="appendedPrependedInput" class="form-control" size="16" type="number">
                      <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="select3">Ürün grubu</label>
                  <div class="col-md-9">
                    <select id="select3" name="select3" class="form-control form-control-sm">
                      <option value="0">Grup seçiniz</option>
                      <option value="1">Option #1</option>
                      <option value="2">Option #2</option>
                      <option value="3">Option #3</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="file-input">Ürün fotoğrafı</label>
                  <div class="col-md-6">
                    <input type="file" id="file-input" name="file-input">
                  </div>
                  <div class="col-md-3">
                    <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17d1868e180%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17d1868e180%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.4296875%22%20y%3D%22104.5609375%22%3E200x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="..." class="img-thumbnail">
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Ekle</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <strong>Ürün Düzenle</strong> 
            </div>
            <div class="card-body">
              <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Ürün adı</label>
                  <div class="col-md-9">
                    <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                    <span class="help-block"></span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-md-3" for="appendedPrependedInput">Ürün fiyatı</label>
                  <div class="controls col-md-9">
                    <div class="input-prepend input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">₺</span>
                      </div>
                      <input id="appendedPrependedInput" class="form-control" size="16" type="number">
                      <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="select3">Ürün grubu</label>
                  <div class="col-md-9">
                    <select id="select3" name="select3" class="form-control form-control-sm">
                      <option value="0">Grup seçiniz</option>
                      <option value="1">Option #1</option>
                      <option value="2">Option #2</option>
                      <option value="3">Option #3</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="file-input">Ürün fotoğrafı</label>
                  <div class="col-md-6">
                    <input type="file" id="file-input" name="file-input">
                  </div>
                  <div class="col-md-3">
                    <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17d1868e180%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17d1868e180%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.4296875%22%20y%3D%22104.5609375%22%3E200x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="..." class="img-thumbnail">
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Düzenle</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <strong>Ürün Sil</strong> 
            </div>
            <div class="card-body">
              <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Ürün adı</label>
                  <div class="col-md-9">
                    <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                    <span class="help-block"></span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-md-3" for="appendedPrependedInput">Ürün fiyatı</label>
                  <div class="controls col-md-9">
                    <div class="input-prepend input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">₺</span>
                      </div>
                      <input id="appendedPrependedInput" class="form-control" size="16" type="number">
                      <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="select3">Ürün grubu</label>
                  <div class="col-md-9">
                    <select id="select3" name="select3" class="form-control form-control-sm">
                      <option value="0">Grup seçiniz</option>
                      <option value="1">Option #1</option>
                      <option value="2">Option #2</option>
                      <option value="3">Option #3</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="file-input">Ürün fotoğrafı</label>
                  <div class="col-md-6">
                    <input type="file" id="file-input" name="file-input">
                  </div>
                  <div class="col-md-3">
                    <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17d1868e180%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17d1868e180%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.4296875%22%20y%3D%22104.5609375%22%3E200x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="..." class="img-thumbnail">
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Sil</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
