<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="icon-drop"></i> Ürün Ekle / Düzenle / Sil
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <strong>Ürün ekle / düzenle</strong> 
            </div>
            <div class="card-body">
              <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Ürün adı</label>
                  <div class="col-md-9">
                    <input [(ngModel)]="name" name="name" type="text" id="text-input" class="form-control" placeholder="">
                    <span class="help-block"></span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-md-3" for="appendedPrependedInput">Ürünün satış fiyatı</label>
                  <div class="controls col-md-9">
                    <div class="input-prepend input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> ₺</span>
                      </div>
                      <input [(ngModel)]="price" name="price" id="appendedPrependedInput" class="form-control" size="16" type="number">
                      <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-md-3" for="appendedPrependedInput">Ürün KDV oranı</label>
                  <div class="controls col-md-9">
                    <div class="input-prepend input-group">
                      <input [(ngModel)]="kdv" name="kdv" id="appendedPrependedInput" class="form-control" size="16" type="number" placeholder="{{this.modalDetail[3]}}">
                      <div class="input-group-append">
                        <span class="input-group-text">%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="select3">Ürün grubu</label>
                  <div class="col-md-9">
                    <select id="select3" name="group" class="form-control form-control-sm" [(ngModel)]="group">
                      <option value="{{item.name}}" *ngFor="let item of groups">{{ item.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="file-input">Ürün fotoğrafı</label>
                  <div class="col-md-6">
                    <input [(ngModel)]="photo" name="photo" type="text" id="text-input" class="form-control" placeholder="URL">
                  </div>
                  <div class="col-md-3">
                    <img src="{{photo}}" alt="..." class="img-thumbnail">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-md-3" for="appendedPrependedInput">Üretilecek adet</label>
                  <div class="controls col-md-9">
                    <div class="input-prepend input-group">
                      <input [(ngModel)]="prodCount" name="prodCount" id="appendedPrependedInput" class="form-control" size="16" type="number">
                    </div>
                  </div>
                </div>  
                <div class="form-group row">
                  <label class="col-form-label col-md-3" for="appendedPrependedInput">Kullanılacak malzeme sayısı</label>
                  <div class="controls col-md-9">
                    <button type="button" class="btn btn-success" (click)="materialChanged(1)">Arttır</button>
                    <button type="button" class="btn btn-danger" (click)="materialChanged(0)">Azalt</button>
                  </div>
                </div>
                <table class="table table-bordered table-striped table-sm" *ngIf="materialCount > 0">
                  <thead>
                    <tr>
                      <th>Malzeme adı</th>
                      <th>Kullanılan miktar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let material of materialsList, let i = index">
                      <td>{{materialsList[i].name}}
                        <select id="select3" class="form-control form-control-sm" [(ngModel)]="materialsList[i].name" name="materialsList[i].name" (ngModelChange)="selectMaterial(i,$event)">
                          <ng-container *ngFor="let item of products">
                            <option value="{{ item.payload.key }}***{{ item.payload.val().name }}" *ngIf="item.payload.val().group == 'malzeme'">{{ item.payload.val().name }}</option>
                          </ng-container>
                        </select> 
                      </td>
                      <td>
                        <input [(ngModel)]="materialsList[i].amount" name="{{materialsList[i].amount}}" id="appendedPrependedInput" class="form-control" size="16" type="number" placeholder="" (ngModelChange)="costUpdate()">
                      </td>
                    </tr>
                    </tbody>
                </table>
                <div class="form-group row" *ngIf="materialCount > 0">
                  <label class="col-form-label col-md-3" for="appendedPrependedInput">Ürün maliyeti</label>
                  <div class="controls col-md-9">
                    <div class="input-prepend input-group">
                      <label class="col-form-label col-md-3" for="appendedPrependedInput">{{ this.cost | number : '.2-2' }} ₺</label>
                    </div>
                  </div>
                </div>
                <div class="form-group row" *ngIf="materialCount > 0">
                  <label class="col-form-label col-md-3" for="appendedPrependedInput">Adet maliyeti</label>
                  <div class="controls col-md-9">
                    <label class="col-form-label" for="appendedPrependedInput">{{ this.cost / prodCount | number : '.2-2' }} ₺</label>
                  </div>
                </div>  
              </form>
            </div>
            <div class="card-footer">
              <button [disabled]="name==null || price==null || kdv < 0 || materialCount < 0 || materialCount == null || kdv == null || group==null || photo==null || name=='' || price=='' || group=='' || photo==''" type="submit" class="btn btn-sm btn-primary" (click)="addProduct(name, price, kdv, group, photo)"><i class="fa fa-dot-circle-o"></i> Ekle</button>
              <button type="reset" class="btn btn-sm btn-danger" (click)="clear()"><i class="fa fa-ban"></i> Temizle</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> ÜRÜN LİSTESİ
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <div class="input-group">
                    <span class="input-group-prepend">
                      <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Ara</button>
                    </span>
                    <input type="text" id="input1-group2" name="searchProdList" [(ngModel)]="searchProdList" class="form-control" placeholder="Ürün">
                  </div>
                    </div>
                <div class="col-12 mt-4">
                  <table class="table table-bordered table-striped table-sm">
                    <thead>
                      <tr>
                        <th>Ürün adı</th>
                        <th>Ürün gurubu</th>
                        <th>Fiyatı</th>
                        <th>KDV oranı</th>
                        <th>KDV dahil fiyatı</th>
                        <th>Stok</th>
                        <th>Ayarlar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of products | filter:searchProdList">
                        <td>{{ item.payload.val().name }}</td>
                        <td>{{ item.payload.val().group }}</td>
                        <td>{{ item.payload.val().price }} ₺</td>
                        <td>{{ item.payload.val().kdv }}</td>
                        <td>{{ item.payload.val().kdvPrice | number : '.2-2' }} ₺</td>
                        <td>{{ item.payload.val().stock + item.payload.val().cafe1Stock + item.payload.val().cafe2Stock + item.payload.val().restaurant1Stock | number : '.2-2' }}</td>
                        <td>
                          <div class="row">
                            <div class="col-6">
                              <button type="button" class="btn btn-success btn-square btn-block" (click)="modalOpen(item.key)" (click)="largeModal.show()"><i class="cil-pencil mr-2"></i>Düzenle</button>
                            </div>
                            <div class="col-6">
                              <button (click)="cancel()" type="button" [disabled]="(item.payload.val().stock + item.payload.val().cafe1Stock + item.payload.val().cafe2Stock + item.payload.val().restaurant1Stock) > 0" class="btn btn-danger btn-square btn-block" (click)="deleteProduct(item.key)"><i class="cil-trash mr-2"></i>Sil</button>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>    
    </div>
  </div>
</div>

<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ürünü Düzenle</h4>
        <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Ürün adı</label>
                <div class="col-md-9">
                  <input [(ngModel)]="name" name="name" type="text" id="text-input" class="form-control" placeholder="{{this.name}}">
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-3" for="appendedPrependedInput">Ürünün satış fiyatı</label>
                <div class="controls col-md-9">
                  <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> ₺</span>
                    </div>
                    <input [(ngModel)]="price" name="price" id="appendedPrependedInput" class="form-control" size="16" type="number" placeholder="{{this.price}}">
                    <div class="input-group-append">
                      <span class="input-group-text">.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-3" for="appendedPrependedInput">Ürün KDV oranı</label>
                <div class="controls col-md-9">
                  <div class="input-prepend input-group">
                    <input [(ngModel)]="kdv" name="kdv" id="appendedPrependedInput" class="form-control" size="16" type="number" placeholder="{{this.kdv}}">
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select3">Ürün grubu</label>
                <div class="col-md-9">
                  <select id="select3" name="group" class="form-control form-control-sm" [(ngModel)]="group" required>
                    <option [value]="item.name" *ngFor="let item of groups">{{ item.name }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="file-input">Ürün fotoğrafı</label>
                <div class="col-md-6">
                  <input [(ngModel)]="photo" name="photo" type="text" id="text-input" class="form-control" placeholder="{{this.photo}}">
                </div>
                <div class="col-md-3">
                  <img src="{{photo}}" alt="..." class="img-thumbnail">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-3" for="appendedPrependedInput">Üretilecek adet</label>
                <div class="controls col-md-9">
                  <div class="input-prepend input-group">
                    <input [(ngModel)]="prodCount" name="prodCount" id="appendedPrependedInput" class="form-control" size="16" type="number">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-3" for="appendedPrependedInput">Kullanılacak malzeme sayısı</label>
                <div class="controls col-md-9">
                  <button type="button" class="btn btn-success" (click)="materialChanged(1)">Arttır</button>
                  <button type="button" class="btn btn-danger" (click)="materialChanged(0)">Azalt</button>
                </div>
              </div>
              <table class="table table-bordered table-striped table-sm" *ngIf="materialCount != 0">
                <thead>
                  <tr>
                    <th>Malzeme adı</th>
                    <th>Kullanılan miktar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let material of materialsList, let i = index">
                    <td>{{materialsList[i].name}}
                      <select id="select3" class="form-control form-control-sm" [(ngModel)]="materialsList[i].name" name="materialsList[i].name" (ngModelChange)="selectMaterial(i,$event)">
                        <ng-container *ngFor="let item of products">
                          <option value="{{ item.payload.key }}***{{ item.payload.val().name }}" *ngIf="item.payload.val().group == 'malzeme' && name != item.payload.val().name">{{ item.payload.val().name }}</option>
                        </ng-container>
                      </select> 
                    </td>
                    <td>
                      <input [(ngModel)]="materialsList[i].amount" name="{{materialsList[i].amount}}" id="appendedPrependedInput" class="form-control" size="16" type="number" placeholder="" (ngModelChange)="costUpdate()">
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="form-group row" *ngIf="materialCount > 0">
                <label class="col-form-label col-md-3" for="appendedPrependedInput">Ürün maliyeti</label>
                <div class="controls col-md-9">
                  <label class="col-form-label" for="appendedPrependedInput">{{ this.cost | number : '.2-2' }} ₺</label>
                </div>
              </div>
              <div class="form-group row" *ngIf="materialCount > 0">
                <label class="col-form-label col-md-3" for="appendedPrependedInput">Adet maliyeti</label>
                <div class="controls col-md-9">
                  <label class="col-form-label" for="appendedPrependedInput">{{ this.cost / prodCount | number : '.2-2' }} ₺</label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancel()">Vazgeç</button>
        <button type="button" class="btn btn-primary" (click)="editProduct(name, price, kdv, group, photo)">Değişiklikleri kaydet</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->