<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Satılan Ürünler
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="input-group">
                <span class="input-group-prepend">
                  <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Ara</button>
                </span>
                <input type="text" id="input1-group2" name="sellProdSearch" class="form-control" placeholder="Ürün" [(ngModel)]="sellProdSearch">
              </div>
                </div>
            <div class="col-12 mt-4">
              <table class="table table-bordered table-striped table-sm" id="sellProd">
                <thead>
                  <tr>
                    <th>Ürün adı</th>
                    <th>Grup</th>
                    <th>Fiyat</th>
                    <th>Maliyet</th>
                    <th>Adet</th>
                    <th>Kâr</th>
                    <th>Tarih</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of statistics | filter:sellProdSearch">
                    <td>{{ item.name }}</td>
                    <td>{{ item.group }}</td>
                    <td>{{ item.kdvPrice | number : '.2-2' }}₺</td>
                    <td>{{ item.kdvCost | number : '.2-2' }}₺</td>
                    <td>{{ item.count }}</td>
                    <td>{{ (item.kdvPrice - item.kdvCost) * item.count | number : '.2-2' }}₺</td>
                    <td>{{ item.date }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-6">Toplam Kâr: {{ totalIncome | number : '.2-2' }}₺</div>
            <div class="col-6 float-right"><button (click)="clearAndExport('statistics')" type="button" class="btn btn-success btn-square float-right">Temizle ve excele aktar</button></div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Eklenen Stoklar
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <div class="input-group">
              <span class="input-group-prepend">
                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Ara</button>
              </span>
              <input type="text" id="input1-group2"  [(ngModel)]="search" name="search" class="form-control" placeholder="Ürün">
            </div>
              </div>
          <div class="col-12 mt-4">
            <table class="table table-bordered table-striped table-sm" id="stockProd">
              <thead>
                <tr>
                  <th>İşlem</th>
                  <th>Ürün adı</th>
                  <th>Grup</th>
                  <th>Maliyet</th>
                  <th>Adet</th>
                  <th>Toplam tutar</th>
                  <th>Tarih</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of stock | filter:search">
                  <td>{{ item.process }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.group }}</td>
                  <td>{{ item.kdvCost | number : '.2-2' }}₺</td>
                  <td>{{ item.stock }}</td>
                  <td>{{ item.kdvCost * item.stock | number : '.2-2' }}₺</td>
                  <td>{{ item.date }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-6">Stok eklenen ürün maliyeti toplamı: {{ totalCost | number : '.2-2' }}₺</div>
          <div class="col-6"><button (click)="clearAndExport('stock')" type="button" class="btn btn-success btn-square float-right">Temizle ve excele aktar</button></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="cord-body">
        <div class="alert alert-secondary" style="margin-bottom: 0px;" role="alert">
          <div>Genel durum : <span [ngStyle]="{'color': totalIncome - totalCost > 0? 'green' : 'red'}">{{ totalIncome - totalCost | number : '.2-2' }}₺</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
